body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --brand-color: #2e2f42;
}

.list,
.contacts {
  list-style: none;
}

.link,
.page-logo,
.footer-logo {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.description-first-word-page-logo {
  color: var(--brand-color);
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.page-header {
  display: flex;
  align-items: center;
  padding-left: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 72px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.container {
  width: 1440px;
  height: 72px;
}

.address-list {
  display: flex;
  align-items: center;

  margin-left: 332px;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);
}

.menu-item,
.link:active {
  color: #9747ff;
}

.modal-open-button:hover,
.modal-open-button:focus {
  background-color: #404bbf;
}

.menu-item:hover,
.menu-item:focus,
.page-logo:hover,
.page-logo:focus,
.contacts:hover,
.contacts:focus,
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-information {
  font-style: normal;
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}

.main-information {
  width: 1440px;
  height: 600px;
  background-color: var(--brand-color);
}

.main-title {
  padding: 188px 472px 292px 472px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  background-color: var(--brand-color);

  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */
  color: #ffffff;
}

.modal-open-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  right: 635px;
  top: 428px;
  bottom: 188px;

  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0 solid transparent;
  border-radius: 4px;
}

.modal-open-button-all {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.modal-open-button-all:hover,
.modal-open-button-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.list {
  display: flex;
}

.principles {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.principles-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.our-team-description-list {
  display: flex;
  column-gap: 24px;
}

.our-work {
  background-color: #f4f4fd;
}

.our-work-images {
  background-color: #ffffff;
}

.section-description {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */
  color: var(--brand-color);
}

.our-team-description {
  background-color: #f4f4fd;
}

.our-team-identification {
  background-color: #ffffff;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.under-logo-and-slogan {
  background-color: var(--brand-color);
}

.description-first-word-under-logo {
  color: #f4f4fd;
}

.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--brand-color);

  /* or 150% */
  letter-spacing: 0.02em;

  /* CLOUD */
  color: #f4f4fd;
}

.icons-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.icons-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
